# Amazon Movie Recommendations
## CS5664 Project

In [ ]:
### Source : http://jmcauley.ucsd.edu/data/amazon/index_2014.html

import pandas as pd
import gzip
import json

def parse(path):
    g = gzip.open(path, 'rb')
    for l in g:
      yield json.loads(l)

def getDF(path):
    i = 0
    df = {}
    for d in parse(path):
      df[i] = d
      i += 1
    return pd.DataFrame.from_dict(df, orient='index')

df = getDF('../reviews_Movies_and_TV_5.json.gz')

In [ ]:
# df reviewers with >= 100 reviews
# 1. To reduce run time 
# 2. Get the reviewers with a significant amount of reviews

counts = df['reviewerID'].value_counts()
df = df[df['reviewerID'].isin(counts[counts >= 100].index)]

In [ ]:
df.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
13,A1GHUN5HXMHZ89,0005019281,"C. A. Luster ""The Rook""","[0, 0]",The first time I saw &#34;An American Christma...,5.0,An American Christmas Carol,1387670400,"12 22, 2013"
34,AZB4CQ9JZSUQB,0005019281,Eric Pregosin,"[3, 4]","When this first aired in 1979, I enjoyed it so...",5.0,A Christmas Carol to be remembered,1012176000,"01 28, 2002"
35,A22GJ2SRENMZS0,0005019281,"F. Sisti ""ftt meditator""","[0, 0]",Winkler does a little over-the-top in his role...,4.0,Dated TV Flic,1388966400,"01 6, 2014"
104,A2JP0URFHXP6DO,0005019281,Tim Janson,"[9, 13]",For some reason I always thought this film was...,3.0,FONZIE PLAYS SCROOGE....AAAYYYYYY!!!!,1102377600,"12 7, 2004"
112,AQ8DU6XVA3USJ,0005119367,"Alejandra Vernon ""artist & illustrator""","[102, 106]",Though this interpretation of Joseph's life ha...,5.0,a man of character and faith,1077321600,"02 21, 2004"

In [ ]:
df.reviewerID.unique()

array(['A1GHUN5HXMHZ89', 'AZB4CQ9JZSUQB', 'A22GJ2SRENMZS0', ...,
       'A1ZKTI37TXXR89', 'A3R6FZDOGN1ST1', 'ALLIGF5OZM1I6'], dtype=object)

In [ ]:
df_reviewer_movies = df.filter(['reviewerID', 'asin'], axis=1)
df_reviewer_movies.rename(columns = {'reviewerID':'source', 'asin':'target'}, inplace = True)


df_reviewer_movies = df_reviewer_movies.set_index('source')

In [ ]:
df_reviewer_movies

                    target
source
A1GHUN5HXMHZ89  0005019281
AZB4CQ9JZSUQB   0005019281
A22GJ2SRENMZS0  0005019281
A2JP0URFHXP6DO  0005019281
AQ8DU6XVA3USJ   0005119367
...                    ...
A14Z0Q1DU6CBJJ  B00LH9ROKM
A3TYC8T6W81DDB  B00LH9ROKM
A3F9VH8916IA40  B00LH9ROKM
AER15RIMV8E6D   B00LH9ROKM
A3DE438TF1A958  B00LT1JHLW

[367867 rows x 1 columns]

In [ ]:
df_reviewer_movies.to_csv('Gephi_src_target_reviews_Movies_and_TV_5.csv')